<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gnusl.wow">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- WebRTC Dependencies -->
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- PubNub Dependencies -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="your.package.name.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="your.package.name.permission.C2D_MESSAGE" />

    <application
        android:name=".Application.WowApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_acton"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher_acton"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.SplashActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarSplash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.LoginActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarSplash">

            <!-- Added For Instagram ! -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redirect"
                    android:scheme="sociallogin" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBarMain" />
        <activity
            android:name=".Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBarSearch" />
        <activity
            android:name=".Activities.RoomChatActivity"
            android:configChanges="orientation"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarChatRoom"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/host"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.SettingsActivity"
            android:theme="@style/AppTheme.NoActionBarSettings" />
        <activity
            android:name=".Activities.RechargeActivity"
            android:theme="@style/AppTheme.NoActionBarSettings" />
        <activity
            android:name=".Activities.RegisterActivity"
            android:theme="@style/AppTheme.NoActionBarSettings" />
        <activity
            android:name=".Activities.CommentsPostActivity"
            android:excludeFromRecents="true"
            android:taskAffinity=""
            android:theme="@style/CommentsActivityTheme" />
        <activity
            android:name=".Activities.CreatePostActivity"
            android:theme="@style/CreatePostTheme" />
        <activity
            android:name="com.learnncode.mediachooser.activity.HomeScreenMediaChooser"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarMain" />
        <activity
            android:name=".Activities.CreateRoomActivity"
            android:theme="@style/AppTheme.NoActionBarSettings" />
        <activity
            android:name=".Activities.RoomSettingsActivity"
            android:theme="@style/AppTheme.NoActionBarSettings" />
        <activity
            android:name=".Activities.MessagesConversationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBarMain" />
        <activity
            android:name=".Activities.GiftsActivity"
            android:theme="@style/AppTheme.NoActionBarSettings" />
        <activity android:name=".Activities.UserDetailsActivity" />
        <activity android:name=".Adapters.ProfileActivity" />
        <activity android:name=".Activities.FollowersActivity" />
        <activity android:name=".Activities.FollowingActivity" />
        <activity android:name=".Activities.ProfileGiftsActivity"></activity>
    </application>

</manifest>